body{
    background-image: url('bg.jpg');
    background-size: cover;
}
.heading1{
    width: 100%;
    margin: 0;
    font-size: medium;
}
.note{
    color: black;
}
.name{
    font-size: 23px;
}
.copy_right_footer{
    bottom: 0;
    text-align: center;
    background-color: gray;
    position: fixed;
    width: 100%;
}
video{
    animation-name: glow;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes glow{
    from{box-shadow: 1px 1px 1px red;}
    to{box-shadow: 5px 5px 5px blue;}
}